.badge {
  background-color: tomato;
  width: 20px;
  height: 20px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  /* content의 부모는 content의 tag = <span> */
  color: white;
  font-weight: 400;
}
