.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 25px 25px 25px;
  margin-bottom: 15px;
}
.screen-header__title {
  font-size: 30px;
  font-weight: 500;
}
.screen-header__icons span {
  margin-left: 25px;
}

@keyframes ratateCog {
  form {
    transform: none;
  }
  to {
    transform: rotatez(360deg);
  }
}

.screen-header__icons .fa-gear:hover {
  animation: ratateCog 1.5s linear infinite;
}
