@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@200;300;400&display=swap');
@import "reset.css";
@import "status-bar.css";
body{
    font-family: 'Encode Sans', sans-serif;
}

.welcome-header{
    margin: 90px 0px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.welcome-header__title{
    margin-bottom: 30px ;
    font-size: 30px;
    font-weight: 400;
}
.welcome-header__text{
    width:60%;
    opacity: 0.7;
    
}
